services:
  web:
    build:
      context: .
      target: web
    container_name: django_web
    command: >
      sh -c "python manage.py migrate &&
      gunicorn smart_med.asgi:application -k uvicorn.workers.UvicornWorker --workers 1 --preload --timeout 60 --bind 0.0.0.0:8000"
    volumes:
      - .:/app
      - "C:/Users/user/Desktop/secret:/run/secrets"
      - "C:/Users/user/Desktop/qwen_sft:/models"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started

  celery:
    build:
      context: .
      target: celery
    container_name: celery_worker
    command: >
      sh -c "
        sleep 10 &&
        celery -A smart_med worker --loglevel=info --pool=solo --concurrency=1
      "
    volumes:
      - .:/app
      - "C:/Users/user/Desktop/secret:/run/secrets"
      - "C:/Users/user/Desktop/qwen_sft:/models"
    env_file:
      - .env
    depends_on:
      web:
        condition: service_started
      postgres:
        condition: service_started
      redis:
        condition: service_started
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    runtime: nvidia

  celery_beat:
    build:
      context: .
      target: celery_beat
    container_name: celery_beat
    command: >
      sh -c "
        sleep 10 &&
        celery -A smart_med beat --loglevel=info
      "
    volumes:
      - .:/app
      - "C:/Users/user/Desktop/secret:/run/secrets"
      - "C:/Users/user/Desktop/qwen_sft:/models"
    env_file:
      - .env
    depends_on:
      web:
        condition: service_started
      postgres:
        condition: service_started
      redis:
        condition: service_started

  postgres:
    image: ankane/pgvector:latest
    container_name: postgres_server
    environment:
      POSTGRES_DB: RNB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"

volumes:
  pgdata:
