version: "3.9"

services:
  web:
    build: .
    container_name: django_web
    command: gunicorn smart_med.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - "C:/Users/user/Desktop/secret:/run/secrets"
    ports:
      - "8000"
    env_file:
      - .env
    depends_on:
      - redis

  celery:
    build: .
    container_name: celery_worker
    command: celery -A smart_med worker --loglevel=info
    volumes:
      - .:/app
      - "C:/Users/user/Desktop/secret:/run/secrets"
      - "C:/Users/user/Desktop/qwen_sft:/models"
    env_file:
      - .env
    depends_on:
      - redis
      - web

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A smart_med beat --loglevel=info
    volumes:
      - .:/app
      - "C:/Users/user/Desktop/secret:/run/secrets"
    env_file:
      - .env
    depends_on:
      - redis
      - web

  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
