services:
  web:
    build: .
    container_name: django_web
    command: >
      sh -c "python manage.py migrate &&
             gunicorn smart_med.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
      - "C:/secret:/run/secrets"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy  # [중요] DB가 '준비'될 때까지 기다림

  db:
    image: pgvector/pgvector:pg15
    container_name: postgres_db
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  celery:
    build: .
    container_name: celery_worker
    command: celery -A smart_med worker --loglevel=info --pool=solo
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - .:/app
      - "C:/secret:/run/secrets"
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started
      web:
        condition: service_started
      db:
        condition: service_healthy # [추천] Celery도 DB 준비 후 시작

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A smart_med beat --loglevel=info
    volumes:
      - .:/app
      - "C:/secret:/run/secrets"
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started
      web:
        condition: service_started
      db:
        condition: service_healthy

  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      web:
        condition: service_started

volumes:
  postgres_data: